@import url('https://fonts.googleapis.com/css?family=Montserrat:500&display=swap');
@import url('https://fonts.googleapis.com/css?family=Dancing+Script:500&display=swap');
body {
    background: white;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.info_on_top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 50px;
}

.header {
    background-image: linear-gradient(rgba(37, 37, 37, 0.6), rgba(63, 61, 61, 0.6)), url(../assets/logo-wallpaper/header.jpg);
    /* border: 0.5px solid black; */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 280px;
}

.communication_tools a {
    text-decoration: none;
    color: rgb(165, 152, 94);
}

.inline_block {
    display: inline-block;
    padding: 10px;
    color: rgb(165, 152, 94);
}

.mail {
    cursor: pointer;
}

.button_tools {
    border-radius: 30px;
    border-color: rgba(187, 153, 99, 0.63);
    margin: 0px 10px;
}

.login_button {
    display: inline-block;
    padding: 10px;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    color: rgb(155, 156, 138);
    background-color: rgb(51, 49, 22, 0.6);
    cursor: pointer;
}

.cart_button {
    display: inline-block;
    padding: 10px;
    color: rgb(155, 156, 138);
    background-color: rgb(51, 49, 22, 0.6);
    cursor: pointer;
}

.login_button:hover,
.cart_button:hover,
.button-to-top:hover,
#btn_send:hover {
    background-color: rgba(80, 78, 60, 0.6);
    box-shadow: 0px 8px 8px 0px rgb(32, 32, 32);
}

.main_menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 80px;
    padding-bottom: 20px;
}

.navbar li a {
    font-size: 50px;
    color: rgb(165, 152, 94);
    text-decoration: none;
    font-family: 'Dancing Script', cursive;
}

.navbar {
    list-style: none;
}

.navbar li {
    display: inline-block;
    padding: 0px 30px;
}

.navbar li a:hover {
    color: rgb(118, 121, 84);
}

.logo {
    padding-left: 50px;
}


/* MAIN =================================*/

.main-title-container {
    width: 50%;
    text-align: center;
    font-family: 'Dancing Script', cursive;
    color: rgb(24, 22, 22);
    margin: auto;
    background-color: rgba(173, 147, 147, 0.4);
    border-radius: 80px 0px 80px 0px;
}

.main-title-container h4 {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 35px;
}

.main-title-container p {
    margin-top: 0px;
    color: rgb(201, 206, 135);
}

.main-section {
    background-image: linear-gradient(rgba(75, 69, 69, 0.6), rgba(49, 47, 47, 0.6)), url(../assets/logo-wallpaper/main-wallpaper.jpg);
    background-size: cover;
    background-position: center;
    padding: 0px 30px 10px 20px;
}

section {
    background-color: rgba(173, 147, 147, 0.4);
    color: rgb(24, 22, 22);
    font-size: 18px;
    padding: 20px;
    margin: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

#main-section-one {
    border-radius: 50px 50px 0px 0px;
}

#main-section-two {
    border-radius: 0px 0px 50px 50px;
    margin-bottom: 0px;
}

section img {
    border-radius: 50%;
    width: 200px;
}


/* FOOTER =================================*/

.navigation_menu {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
}

.nav-bottom li a {
    font-size: 40px;
}

.menu-footer {
    height: 250px;
    background-image: linear-gradient(rgba(37, 37, 37, 0.6), rgba(63, 61, 61, 0.6)), url(../assets/logo-wallpaper/footer-wallpaper_copy.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.footer {
    height: 30px;
    padding: 5px;
    padding-bottom: 10px;
    background-image: linear-gradient(rgba(37, 37, 37, 0.6), rgba(63, 61, 61, 0.6)), url(../assets/logo-wallpaper/footer-wallpaper_copy.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    display: flex;
    justify-content: center;
    align-items: center;
}

.div-to-top {
    display: flex;
    justify-content: center;
    padding: 15px;
}

.button-to-top {
    display: inline-block;
    padding: 3px;
    font-size: 25px;
    border-radius: 30px;
    color: rgb(155, 156, 138);
    background-color: rgba(71, 71, 64, 0.5);
    cursor: pointer;
    border-color: rgba(187, 153, 99, 0.63);
    width: 15%;
    text-decoration: none;
    color: rgb(165, 152, 94);
    font-family: 'Dancing Script', cursive;
    text-decoration: none;
}

.copyrights p {
    text-align: center;
    color: rgb(165, 152, 94, 0.7);
}