.menu-items {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #98C1D9;
}

.just-bg-color {
    margin: 0;
    color: black;
    background-color: #98C1D9;
}

.btn-info {
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    width: 100px;
}

.selected {
    box-shadow: black 0px 0px 6px;
    background-color: rgb(196, 83, 83);
    outline: none;
}

.selected:hover {
    outline: none;
    box-shadow: black 0px 0px 6px;
    background-color: rgb(196, 83, 83);
}

.inline {
    color: black;
}

.list-items li {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-right: 40px;
    padding-top: 10px;
}

.block-click {
    margin: 5px;
    margin-left: 20px;
    display: flex;
    padding: 5px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.block-click:hover {
    box-shadow: black 0px 0px 5px;
    background-color: rgba(88, 174, 223, 0.432);
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}