@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap');
* {
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    outline: none;
}

*:focus {
    outline: none;
}

.menu-items {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
}

.just-bg-color {
    display: block;
    margin: 0;
    color: rgb(204, 184, 93);
    background-image: linear-gradient(rgba(75, 69, 69, 0.6), rgba(49, 47, 47, 0.6)), url(../assets/logo-wallpaper/main-wallpaper.jpg);
    background-position: center;
}

.btn-info {
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    width: 100px;
}

.selected {
    box-shadow: black 0px 0px 6px;
    background-color: rgb(173, 147, 147) !important;
    color: white !important;
    outline: none;
}

.selected:hover {
    outline: none;
    box-shadow: black 0px 0px 6px;
}

.inline {
    color: black;
}

.list-items {
    width: 150px;
}

.list-items li {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 16px;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-right: 40px;
    padding-top: 10px;
}

.block-click {
    margin: 5px;
    display: flex;
    padding: 5px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.block-click:hover {
    background-color: rgba(173, 147, 147, 0.4);
}

#row1 .block-click:hover:first-child {
    background-color: rgba(173, 147, 147, 0.4);
    border-radius: 50px 0px 0px 0px;
    -webkit-border-radius: 50px 0px 0px 0px;
    -moz-border-radius: 50px 0px 0px 0px;
    -ms-border-radius: 50px 0px 0px 0px;
    -o-border-radius: 50px 0px 0px 0px;
}

#row1 .block-click:hover:last-child {
    background-color: rgba(173, 147, 147, 0.4);
    border-radius: 0px 50px 0px 0px;
    -webkit-border-radius: 0px 50px 0px 0px;
    -moz-border-radius: 0px 50px 0px 0px;
    -ms-border-radius: 0px 50px 0px 0px;
    -o-border-radius: 0px 50px 0px 0px;
}

.last-row .block-click:hover:last-child {
    background-color: rgba(173, 147, 147, 0.4);
    border-radius: 0px 0px 50px 0px;
    -webkit-border-radius: 0px 0px 50px 0px;
    -moz-border-radius: 0px 0px 50px 0px;
    -ms-border-radius: 0px 0px 50px 0px;
    -o-border-radius: 0px 0px 50px 0px;
}

.last-row .block-click:hover:first-child {
    background-color: rgba(173, 147, 147, 0.4);
    border-radius: 0px 0px 0px 50px;
    -webkit-border-radius: 0px 0px 0px 50px;
    -moz-border-radius: 0px 0px 0px 50px;
    -ms-border-radius: 0px 0px 0px 50px;
    -o-border-radius: 0px 0px 0px 50px;
}

#row1 {
    background-color: rgba(173, 147, 147, 0.4);
    border-radius: 50px 50px 0px 0px;
    -webkit-border-radius: 50px 50px 0px 0px;
    -moz-border-radius: 50px 50px 0px 0px;
    -ms-border-radius: 50px 50px 0px 0px;
    -o-border-radius: 50px 50px 0px 0px;
}

.list-item {
    background-color: rgba(173, 147, 147, 0.4);
    margin: 20px 0px 20px 0px;
}

.last-row {
    background-color: rgba(173, 147, 147, 0.4);
    border-radius: 0px 0px 50px 50px;
    -webkit-border-radius: 0px 0px 50px 50px;
    -moz-border-radius: 0px 0px 50px 50px;
    -ms-border-radius: 0px 0px 50px 50px;
    -o-border-radius: 0px 0px 50px 50px;
}

.price-class {
    color: rgb(24, 22, 22);
    /* -webkit-text-stroke-width: 1.4px;
    -webkit-text-fill-color:rgb(24, 22, 22);
    -webkit-text-stroke-color: black; */
    display: inline-block;
    padding: 0;
    margin: 0;
    font-size: 16px !important;
    font-weight: 800 !important;
}

.dropdown-design {
    margin-left: 100px;
    margin-bottom: 9px;
}

.dropdown-toggle {
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}

p.inline_block {
    color: rgb(204, 184, 93);
}

header {
    padding-top: 10px;
}

div.buttons>ul li {
    font-family: 'Dancing Script', cursive;
    font-size: 24px;
    border-color: transparent;
    color: rgb(204, 184, 93);
    background-color: rgba(173, 147, 147, 0.4);
    font-weight: 700;
    border-radius: 80px 0px 80px 0px;
    width: 150px;
    margin-left: 10px;
    -webkit-border-radius: 80px 0px 80px 0px;
    -moz-border-radius: 80px 0px 80px 0px;
    -ms-border-radius: 80px 0px 80px 0px;
    -o-border-radius: 80px 0px 80px 0px;
}

div.buttons>ul li:hover {
    background-color: rgba(173, 147, 147, 0.596);
}

div.buttons>ul li:active {
    background-color: rgba(173, 147, 147, 0.993) !important;
}

.view-design {
    font-family: 'Source Code Pro', monospace;
    padding: 4px 4px;
}

.view-design:hover {
    cursor: pointer;
    border: 1px solid black;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}

.view-bg-color {
    background-color: rgb(177, 222, 248);
}

.food-decoration:hover {
    text-decoration: none;
}

#modalImage {
    border-radius: 25%;
    -webkit-border-radius: 25%;
    -moz-border-radius: 25%;
    -ms-border-radius: 25%;
    -o-border-radius: 25%;
}

#itemPrice {
    color: green;
    font-weight: bold;
    font-size: 24px;
    position: absolute;
    left: 45px;
    bottom: 15px;
}

.extras-price-color {
    color: green;
}

.extras-design:hover {
    text-shadow: black 2px 4px 10px;
}

.btn-add-to-cart {
    background-color: green;
}

.modal-padding {
    display: flex;
    justify-content: center;
}

.quantity {
    position: relative;
}

#quantity-label {
    position: absolute;
    right: 115px;
    top: -10px;
}

#itemQuantity {
    position: absolute;
    right: 100px;
    top: -10px;
}

#plusItem {
    position: absolute;
    right: 69px;
    top: -12px;
}

#minusItem {
    position: absolute;
    right: 40px;
    top: -12px;
}